[2018-08-13 08:07] vshy108 opened #2 "[Correction] Missing Podfile entry"
I need to add

`pod 'GoogleMobileVision/TextDetector'`

to PodFile so that it will download the necessary SDK file for ios build.

May be it should be included in the README.md file explanation? thanks

[2018-08-13 09:06] ChrisTomAlx commented on #2
Hey @vshy108

The 'GoogleMobileVision/TextDetector' pod dependency is bundled along with the plugin in the plugin.xml. After install of the plugin you need to follow the following steps in iOS as mentioned in the readme.

- Once the iOS platform is added in command line, change directory to where podfile is found. Example location :- (myapp/platforms/ios).
- Make sure you have cocoapods installed

[2018-08-13 09:11] vshy108 commented on #2
After I installed the plugin with Visual studio 2017 by opening designer view of config.xml of my project, PodFile is not created under ios folder. Hence I manually created new PodFile and fill in the dependency in my case.

The following line in plugin.xml will create the new PodFile if not found any?
`<framework src="GoogleMobileVision/TextDetector" type="podspec" spec="~> 1.3.2"/> `

[2018-08-13 09:21] ChrisTomAlx commented on #2
Oh cool. If you are manually creating the podfile then you will have to add it. If you use cordova, then cordova will automatically add the podfile and all you have to do is pod update.

Anyhow thank you for raising this issue :)
I will reference this issue in the readme for other people who manually create their podfile.

Cheers and Have a nice day!,
[Chris](https://github.com/ChrisTomAlx)
[Neutr

[2018-08-13 09:21] #2 closed, assigned to ChrisTomAlx

[2018-08-27 17:35] M2UNO3 opened #3 "Does not build with Cordova Android 6.4.0"
BUILD FAILED in 40s
(node:15804) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: cmd: Command failed with exit code 1 Error output:
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
\cordova\platforms\android\src\com\neutrinos\ocrplugin\Textocr.java:89: error: cannot find symbol
bitmap = MediaStore.

[2018-08-28 06:27] ChrisTomAlx commented on #3
Thank you for raising this issue. Tested it and can confirm the **build is failing** in cordova android 6.4.0. However it does work for cordova android 7.0.0+. Just tested it again to confirm.

I am working on this issue. Will let you know once a fix is available.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2018-08-28 07:05] ChrisTomAlx commented on #3
This issue has been fixed and tested. Cordova android 6.4.0 builds are successfully running. Let me know if you run into any more trouble. Closing this issue for now.
Have a nice day.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2018-08-28 07:05] #3 closed, assigned to ChrisTomAlx

[2018-08-30 13:50] M2UNO3 commented on #3
Thank you for fixing it @ChrisTomAlx !

[2018-12-26 11:06] merbin2012 opened #4 "Does not working in html code"
I am trying to scan the HTML programs, but it doesn't read the symbols properly
for example

&lt;ul&gt;
&lt;li&gt;one&lt;/li&gt;
&lt;li&gt;Two&lt;/li&gt;
&lt;/ul&gt;
&lt;style&gt;
ul{list-style-type:none;}
li{display:inline-block;}
&lt;/style&gt;

[2018-12-26 12:03] ChrisTomAlx commented on #4
Hi @merbin2012

Could you show me the image you captured and the detected response?

Also you could try the cordova-plugin-ml-text plugin. It might give a more accurate response. But it requires firebase.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2018-12-26 12:18] merbin2012 commented on #4
Thank you very much for the quick response. Please see the below attached file

![1545821927900](https://user-images.githubusercontent.com/3687184/50445657-2c710880-0936-11e9-9d39-523e13272139.jpg)
![1545821917949](https://user-images.githubusercontent.com/3687184/50445658-2c710880-0936-11e9-8fef-2078e9345a95.jpg)
![1545821987801](https://user-images.githubusercontent.com/3687184/50445659-2d099f00

[2018-12-26 12:32] ChrisTomAlx commented on #4
Are you trying to take the pic from your screen? Could you try by printing the html onto a paper and then taking the pic or using a screen shot of the html code.. Taking pics from screen tend to produce erroneous results.

Also could you show me your code, so I understand the options you have used to run the ocr.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/

[2018-12-26 12:39] merbin2012 commented on #4
But google translator reading perfectly.

On Wed 26 Dec, 2018, 6:02 PM Christy Thomas Alex <notifications@github.com
wrote:

[2018-12-27 04:27] merbin2012 commented on #4
Hi! Can you fix this? Especially symbols are not working like <,>

[2018-12-27 05:18] ChrisTomAlx commented on #4
There is not much that can be done about accuracy, if you can show me how you used the plugin I can see if there are any performance improvements you can implement.

You can also try the [ml-text plugin](https://github.com/NeutrinosPlatform/cordova-plugin-ml-text). In my tests it gave better accuracy. Usage is almost similar.

Sorry I couldn't be of more help.

Cheers,
[Chris](https://github.com/C

[2018-12-27 05:23] merbin2012 commented on #4
Thank you very much. Is ml-text plugin uses google's algorithm? Because it required firebase, that's why I asking

[2018-12-27 05:31] ChrisTomAlx commented on #4
Yes it does! Google just took the mobile vision library used in this plugin and integrated it into firebase. They then stopped support for the mobile vision library and only support it through firebase. Hence two plugins that perform similar functionalities were born.

Closing this issue for now. If you decide to use the ml-text plugin and run into problems then raise an issue there.

Cheers,
[Chr

[2018-12-27 05:31] #4 closed, assigned to ChrisTomAlx

[2018-12-28 07:15] kalaiprakash93 opened #5 "Need to convert image to text"
Nothing happend when using in this plugin in android 8.0.0.can u tel me wat was the issue?

navigator.camera.getPicture(onSuccess, onFail, { quality: 100, correctOrientation: true,destinationType: Camera.DestinationType.DATA_URL  });

function onSuccess(imageData) {
		alert(imageData);
      textocr.recText(0, 3, imageData, onSuccess, onFail);
      // for sourceType Use 0,1,2,3 or 4
      // for

[2018-12-28 07:45] ChrisTomAlx commented on #5
Try using this instead and let me know if you still have no response.

[code]

If you absolutely must use `destinationType: Camera.DestinationType.DATA_URL` then try using the following snippet :-

[code]

In the above snippet I have added the `destinationType: Camera.DestinationType.DATA_URL` to the options array and I have changed sourceType to 4 so that the ocr plugin knows that the incoming im

[2018-12-28 10:43] kalaiprakash93 commented on #5
first i have tried ur first method only..its opening camara and capturing pic.it is not triggers error or success in textocr function

[2018-12-30 17:42] ChrisTomAlx commented on #5
@kalaiprakash93

I tested this with android 8 and did not run into any issues.

Could you debug using android studio and sent the stack trace ? Or sent me your project so I can check it on my end (Or create a blank project with just this plugin, make sure it isn't working and then sent it over)

Cheers & Happy Holidays!
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2018-12-31 04:35] kalaiprakash93 commented on #5
config.xml:
`<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Device Features</name>
    <description>
        A basic Framework7 template for PhoneGap.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova

[2018-12-31 06:25] ChrisTomAlx commented on #5
Hey @kalaiprakash93

Could you please send it as a project rather than as code?

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2018-12-31 07:19] kalaiprakash93 commented on #5
[Device Features.zip](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/files/2717874/Device.Features.zip)

[2018-12-31 07:39] ChrisTomAlx commented on #5
@kalaiprakash93

I removed platform browser and permission plugin.
Then I added the permission plugin back and added platform android and built and run.
It worked as expected.

This plugin does not support browsers so if you are trying to test on browser it won't work.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-01-04 11:07] ChrisTomAlx commented on #5
Closing since there has been no response. Please reopen if you need to,

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-01-07 04:28] kalaiprakash93 commented on #5
I removed platform browser and permission plugin.
Then I added the permission plugin back and added platform android and built and run.
It worked as expected.

This plugin does not support browsers so if you are trying to test on browser it won't work.

i couldn't able to understand this.

[2019-01-07 04:41] ChrisTomAlx commented on #5
@kalaiprakash93

Are you testing this plugin in your browser?

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-01-07 04:56] kalaiprakash93 commented on #5
no..in mobile only android 8.0.0 honor &A pro

[2019-01-07 05:02] ChrisTomAlx commented on #5
@kalaiprakash93

May I ask which version of cordova and cordova-android you are using?

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-01-07 05:04] kalaiprakash93 commented on #5
Am using phonegap online build cli version is 7.1.0 and cordova-android version -6.3.0

[2019-01-07 05:10] ChrisTomAlx commented on #5
@kalaiprakash93

Could you run cordova platforms on the command line and send a screen shot of what you see.

Also do you have android studio installed?

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-01-07 05:15] kalaiprakash93 commented on #5
no..i will try it at  night and let u know.I am in office now..Here i cannot use studio and cordova.
Thank you for your response.

[2019-01-07 05:16] ChrisTomAlx commented on #5
@kalaiprakash93

Sure no problem, my pleasure.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-01-16 06:34] nemcko16 opened #6 "Blocks definition"
I need to scan only several blocks of the picture. E.g. ID card. Is it possible to define the position of blocks and get OCR?

[2019-01-16 06:37] ChrisTomAlx commented on #6
Hey @nemcko16
Thanks for the interest in our plugin :)
Please use the [ml-text plugin](https://github.com/NeutrinosPlatform/cordova-plugin-ml-text) for this.
If you run into trouble, raise an issue there and I will be right along to help you.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-01-16 06:37] #6 closed, assigned to ChrisTomAlx

[2019-01-16 06:40] ChrisTomAlx commented on #6
Or if you would prefer using this plugin because it is more straight forward, You can crop sections of the image you want (using another plugin or canvas in js) then pass the base64 or imageURI of each of these sections individually into the plugin one after the other. Bit hacky but should work :)

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-02-20 06:28] maheshlakshmipathi commented on #5
Hello,

This plugin isn't reading the text, after the camera captures the image there is no output. what has to be done, Iam using phonegap to test this

[2019-02-20 19:37] ChrisTomAlx commented on #5
Hey @maheshlakshmipathi

Could you send me your project folder as a zip or a new project with just this plugin (and its requirements) and the code you used. So that I can test it and say what might be wrong. You have given me no information to help you with your problem so hence the request for your project.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-02-21 05:49] maheshlakshmipathi commented on #5
Hello chris,

[device_features.zip](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/files/2887846/device_features.zip)

Thanks for the reply, iam attaching the file that i have been using, iam using phone gap to build the app. as already said the camera is capturing the image but the OCR feature is not been applied.

Thanks in advance for your help

[2019-02-21 06:17] ChrisTomAlx commented on #5
Will look into it and get back to you as soon as I can :)

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-02-21 06:44] ChrisTomAlx commented on #5
@maheshlakshmipathi  It seems to be working fine for me. All I had to do was change the min sdk version in the config.xml to 16, this was causing the build to fail. I built and ran the app. The camera opened and text was detected.

Could you try uninstalling the app from the test phone, then rebuilding and installing? Do this entire process with an internet connection on the phone and let me know

[2019-02-21 12:13] maheshlakshmipathi commented on #5
Yep thanks,
it scanned the image now but getting an error called "exception". what is the problem?

[2019-02-22 04:24] ChrisTomAlx commented on #5
My friend @maheshlakshmipathi, I will need more information than just that to help you. Please send screenshots, stack traces, etc..

Please refer to [this](https://cordova.apache.org/docs/en/latest/guide/next/#debugging-cordova-apps) for help with debugging.
Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-02-25 05:19] ChrisTomAlx commented on #5
Hey guys, closing this issue since there hasn't been any updates for a while.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-02-25 05:19] #5 closed, assigned to ChrisTomAlx

[2019-02-27 13:30] renzified opened #7 "Success callback returning exception String"
`navigator.camera.getPicture(function(imagedata){
            textocr.recText(0, 3, imagedata, function(text){
                alert(text);
            }, function(e){
                alert(e);
            });
        }, function(e){
            alert(e);
        }, { quality: 100, correctOrientation: true });`

the success callback in the ocr alerts string "Exception"

[2019-02-28 04:29] ChrisTomAlx commented on #7
Hey @thekingrenz23

What version of the plugin are you using?

If you are using 2.x.x then remove the returntype (here 3). So your code would change to :

`navigator.camera.getPicture(function(imagedata){ textocr.recText(0, imagedata, function(text){ alert(text); }, function(e){ alert(e); }); }, function(e){ alert(e); }, { quality: 100, correctOrientation: true });`

Let me know if it helps or if

[2019-03-08 13:24] Intonovi opened #8 "Cocoapod breaks during installation on PhoneGap Build service"
Hello,

I'm having trouble compiling and building iOS app on build.phonegap.com service online. It does support cocoapods and installs them I guess correctly, but then this happens:

[code]

I am not sure why this happens, any help?

I know your guide says there's a manual step for iOS for installing pod, but I don't have Mac, so online build is my only choice. :(

[2019-03-11 12:44] ChrisTomAlx commented on #8
There must be some way to do pod install via the online service. I am not entirely sure how else you can get this to work. I will look into this and let you know if I find something, but no promises.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-03-18 09:43] #7 closed, assigned to ChrisTomAlx

[2019-03-19 12:23] svankamamidi opened #9 "Getting 'Could not set up the detector' error"
Integrated as provided in the ReadMe instructions but after passing the image I am getting error 'Could not set up the detector'

[2019-03-19 14:02] ChrisTomAlx commented on #9
Hey @svankamamidi
Please share your project / code & project details mainly cordova versions, plugin version and test device details

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-03-19 22:32] armanth14 opened #10 "Exception error"
Good afternoon,

after taking the photo, the function "textocr" returns a string that says exception only, and validates the cordova and anddrroid versions and according to the requirements everything is in order.
I attach my project, thank you very much
[nbproject.zip](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/files/2985796/nbproject.zip)

[2019-03-20 06:33] ChrisTomAlx commented on #9
@svankamamidi

Another thing, make sure you have your internet on when you are installing the app to device.
Because the detector files are downloaded when the app is being installed. Let me know if this helps.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-03-20 06:36] riadapsis opened #11 "textocr is not defined"
While using the following code and run it, I can capture the image with camera. But success function return the error "textocr" is not defined.
[code]
![Screenshot_20190320-122249](https://user-images.githubusercontent.com/11692922/54663473-8e8f7300-4b0b-11e9-8401-dfa08609cc37.png)

If I change code from
`textocr.recText(0, /*3,*/ imageData, onSuccessCam, onFailT);`
to
`cordova.plugins.textocr.rec

[2019-03-20 06:38] ChrisTomAlx commented on #10
It would seem you are using the plugin as below :
`textocr.recText(0, 3, image, onSuccess, onFail);`

From plugin version 2.0.0 and above you need to use it as below :
`textocr.recText(0, image, onSuccess, onFail);`

Let  me know if this helps :)

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-03-20 07:18] svankamamidi commented on #9
Yes I had corporate working WIFI connection.
Cordova version 8.1.2 (cordova-lib@8.1.1)

I am getting same error on device and in emulator as well

[2019-03-20 07:19] svankamamidi commented on #9
Emulator: Nexus_5X_API_25

my code is very simple as given in the readme.

[2019-03-20 08:45] ChrisTomAlx commented on #9
What about plugin version ?
I am not sure you can test this on a simulator. Haven't tried it though. Could you uninstall the existing app, make sure the internet is working then reinstall the app ?
It is working fine on my end. Sorry but I don't think I can help you much if you don't give me some way to recreate the issue.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neu

[2019-03-20 08:54] ChrisTomAlx commented on #11
Hey @riadapsis

Your code seems to be working for me. Are you using some framework like ionic, angular, phonegap etc. over the cordova implementation ? Or are you directly creating a cordova project as `cordova create myproject` and then adding the plugin?
If you are using frameworks like ionic then in the file you are using the plugin in you need to define the textocr object.
`declare var textocr

[2019-03-20 09:11] riadapsis commented on #11
Hi @ChrisTomAlx ,
Many thanks for your quick answer. I am using phonegap. My project is already in live. My app need a new feature like ocr. So, I install the plugin through npm (intel xdk is my ide). But it's not working. With the same procedure I have already added many plugin like barcode scanner etc. At the top of js file I add the line
`var textocr;`
But I got
`Error: Uncaught TypeError: Cann

[2019-03-20 09:33] svankamamidi commented on #9
Plugin version is the latest. I will retry by uninstalling and will report.

[2019-03-20 10:00] svankamamidi commented on #9
Same problem even after uninstalling and installing with WIFI internet, please ask me details what else you need to reproduce the bug.
I have around 8 GB free space on device. My device is Moto G4 plus with Android 7.0

[2019-03-20 14:07] armanth14 commented on #10
Hello

Yes, now it works better, but, the recognizedText variable is returned as an object, do you know what the property is that the text shows?

Thanks

[2019-03-20 15:53] ChrisTomAlx commented on #9
Could you send me your project folder or recreate the issue in a new project then send it over ? I will check it on my side

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-03-20 15:58] ChrisTomAlx commented on #10
Yea will be adding details about the object to the readme shortly.
In the meantime you could view the exact object along with example objects in the readme here : https://github.com/NeutrinosPlatform/cordova-plugin-ml-text

Scroll to the very bottom of the readme to view it

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-03-20 16:18] armanth14 commented on #10
Thank you very much, you are the best !! : D

[2019-03-20 16:32] ChrisTomAlx commented on #11
I tried getting the intel xdk ide to help you with the problem but it says they have discontinued it.
Anyhow, I have a question for you.

1. Don't you have to add plugin as phonegap cordova plugin add cordova-plugin-mobile-ocr via the cordova cli tool? (Atleast that is how I had to do it)
Will doing npm install be enough?

2. Also don't you have to remove platforms and re-add them for this to work

[2019-03-20 16:33] ChrisTomAlx commented on #10
My Pleasure!!

Have a nice day!
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-03-20 16:33] #10 closed, assigned to ChrisTomAlx

[2019-03-25 12:37] riadapsis commented on #11
Sorry for the late response...
I have uploaded the software to my google drive - [url](https://drive.google.com/file/d/1vuJkQHPVBJZZDa4GFec04VwOWND0H-LB/view?usp=sharing)
1. xdk has a UI to add third party plugin from git/npm
2. No confix.xml create at xdk. It gives a .zip file. I upload it to build.phonegap.com and got the desired apk.

You can download the file and see how they made the developm

[2019-03-25 14:09] ChrisTomAlx commented on #11
I will look into it and get back to you

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-03-25 16:22] ChrisTomAlx commented on #11
Okay so I did a build from the xdk ide.

if you unzip the zip file you received from the xdk ide, you will get a config.xml, can you check inside it if you have the textocr plugin ?

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-03-25 16:23] ChrisTomAlx commented on #11
Accidentally closed the issue. sorry!

[2019-03-26 13:09] eboily opened #12 "barcodes detector"
Are there any current effort or plans to implement the interface to the barcodes detector?

[2019-03-26 16:58] ChrisTomAlx commented on #12
Hey @eboily
You can use this [plugin](https://github.com/phonegap/phonegap-plugin-barcodescanner) for barcode scanning.
I would prefer not to make this plugin too bulky by implementing functionality that already exists.
Sorry I could not be of more help.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-03-28 11:32] #12 closed, assigned to ChrisTomAlx

[2019-04-05 17:43] sdegunst opened #13 "ocr fail"
After use of cordova-plugin-document-scanner, I try to launch cordova-plugin-mobile-ocr (recText with returnType 2) and I only get the word "Exception".
It seems to be a result of an error catched in line 100 in Textocr.java...

when I launch adb locat, I have the following crash log

04-05 19:13:17.707 28191 28191 D CordovaActivity: Incoming Result. Request code = 99
04-05 19:13:17.707 28191 2819

[2019-04-05 17:47] sdegunst commented on #13
I use the following version
cordova-plugin-mobile-ocr : 2.0.0
cordova-plugin-document-scanner : 3.0.0

[2019-04-06 05:29] ChrisTomAlx commented on #13
So returnType is no longer accepted from plugin version 2.x.x
So the recText call should look like this.
returnType is no longer required because all of them are returned as an object.
`textocr.recText(sourceType, uriOrBase, successCallback, errorCallback)`

### Usage Example
[code]
Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-04-06 08:32] sdegunst commented on #13
ok, I didn't notice... (and the description is not up to date on npmjs)
I try this and give you a feed back.

[2019-04-06 09:47] sdegunst commented on #13
OK, I get an object... could you give us some information about this object  ?

[2019-04-06 13:32] ChrisTomAlx commented on #13
Here you go. Added this and example objects as the last section in the github readme. The basic structure of the object is as follows :-

 - **blocks**
   - **blocktext** - **Array** that contains each text block
   - **blocklanguages** - **Array** of languages (Currently returns unusable values)
   - **blockconfidence** - **Array** of confidence values (Currently return nil for on-Device text rec

[2019-04-18 08:01] indraraj26 commented on #11
getting same error even though i have defined
declare var textocr: any;

Error: ERROR Error: Uncaught (in promise): ReferenceError: textocr is not defined
ReferenceError: textocr is not defined

[2019-04-18 09:22] indraraj26 opened #14 "Exception Log <ANDROID>"
Issue : Application gets crash after clicking pic.
[code]

LOG:
[code]

project properties:
[code]
Edit: i have removed 26+ version from project properties but now i get this error
[code]

[2019-04-18 11:48] ChrisTomAlx commented on #14
Hey @indraraj26
If you are using plugin version 2.x.x . Please remove the 3 in ocr plugin. Change your code into this
`textocr.recText(0, imageData, onSuccess, onFail);`

Also, in another issue you had asked a question. Were you able to solve that problem ?

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-04-18 13:11] indraraj26 commented on #14
Dear @ChrisTomAlx , now i get this error in adb logcat
[code]

For the another issue i have managed to fix it by placing your cordova in project then ionic cordova plugin add cordova-plugin-mobile-ocr

code:
[code]
Thank you

[2019-04-19 09:44] ChrisTomAlx commented on #13
Okay so I updated the npm readme as well (Plugin version 2.0.1). Closing this issue for now. Please reopen if you have questions related to this issue or create  a new issue if you have a new question.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-04-19 09:44] #13 closed, assigned to ChrisTomAlx

[2019-04-19 10:56] ChrisTomAlx commented on #11
Closing this issue since the solution for this has been shared [here](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/issues/14#issuecomment-484501353).

Thanks to @indraraj26 for sharing the solution

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-04-19 10:56] #11 closed, assigned to ChrisTomAlx

[2019-04-19 18:43] ChrisTomAlx commented on #14
Hey @indraraj26 sorry about the delayed response
This line makes me think you are using the camera plugin to return a base64.
[code]

If this is true please change your textoxr code as below :-
[code]
But I do not recommend this. It is better to use FileURI  (if fileuri you can use 0 instead of 4)

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-04-21 06:52] riadapsis commented on #14
Thanks.. But I am not using ionic. Would you please give me modified code for phonegap?

[2019-04-21 12:42] ChrisTomAlx commented on #14
@riadapsis
do you have access to the config.xml ?
Please add the following in your config.xml.
`<plugin name="cordova-plugin-mobile-ocr" spec="2.0.1" />`
Then remove and re-add your platforms
Got this solution from [here](https://stackoverflow.com/questions/30264053/how-do-i-add-custom-plugin-and-use-it-in-phonegap-build)

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neut

[2019-04-23 05:30] indraraj26 commented on #14
Dear @ChrisTomAlx ,  Sorry for being inactive.
Now i am getting this error.
[code]

code:
[code]

[2019-04-23 14:22] ChrisTomAlx commented on #14
Hey @indraraj26

Please change your code as below :
`textocr.recText(4, /*3,*/ imageData, onSuccess, onFail);`

As I mentioned earlier. `4` tells the plugin the incoming image is Base64.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-04-23 19:30] jggc commented on #14
This issue was caused for me by a mismatch in dependencies versions of the google-play-services. This plugin depends on a really old `com.google.android.gms:play-services-vision` version. I updated it to latest (17.0.2 as of today) in `platforms/android/project.properties`, ran a `./gradlew clean` and then it worked fine.

Pre-15 versions of play-services libraries require stricter version matchin

[2019-04-24 09:22] riadapsis commented on #14
[code]
Now I got - **Error: Uncaught TypeError: Cannot read property 'recText' of undefined in file:///android_asset/www/cordova.js at line 314**
Used `<plugin name="cordova-plugin-mobile-ocr" spec="2.0.1"/>` at config.xml

[2019-04-24 16:50] ChrisTomAlx commented on #14
@jggc Thanks for bringing this up. Released plugin version `3.1.0` and added vision library `17.0.2`

@indraraj26 Please let me know if the solution I provided fixed your issue, else try upgrading to plugin version `3.1.0`

@riadapsis Usually when you get the error `Cannot read property 'recText' of undefined`, it means that the plugin was not added properly.
 -  Do `cordova plugins` from your pro

[2019-04-25 11:47] riadapsis commented on #14
Hey @ChrisTomAlx ,
At last I find out the error, got the following from my build log -
[code]
I have installed 18 more plugin. Some of those are not available/supported for version > 6.3.0. So would you please tell me any kind of solution to make your plugin workable with cordova android 6.3.0?
It will be too much helpful for me. Waiting for your response.

[2019-04-27 05:41] riadapsis commented on #14
Hi @ChrisTomAlx , How is everything going? I am mainly a PHP developer. And have very little knowledge on Android. So some term was really hard to understand. Anyway at last I tried it with following way and somehow it works! I forked your project and change the version dependency 6.4.0+ to 6.3.0. After doing that your plugin return me the result from camera. I need to explore more. It is just cur

[2019-04-27 07:00] ChrisTomAlx commented on #14
Hey @riadapsis. Everything is going great! Hope you are good too.
Sorry about the delayed reply.

I am glad that you were able to figure out the problem. I will do some tests on my side and reduce the minimum required android version.
Really appreciate you sharing this info.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-04-28 17:16] ChrisTomAlx commented on #14
@riadapsis I reduced the lowest supported cordova-android version to 6.3.0 after a bit of testing. Version 3.1.1 is now the latest version of the plugin.

Just a quick note, make sure the camera plugin uses the latest version (if you are using it). When testing, cordova, by default, added version 2.x.x of the camera plugin instead of 4.x.x. Because of this the app was crashing in my android N phon

[2019-04-28 17:16] #14 closed, assigned to ChrisTomAlx

[2019-05-03 03:08] #9 closed, assigned to ChrisTomAlx

[2019-05-03 03:19] ChrisTomAlx commented on #8
Hey @Intonovi. Sorry about the delay. I removed the need for cocoapods and directly inserted the required frameworks within the plugin. Although this might cause issues if you have other plugins using the same frameworks. Most likely candidates to cause problems are push notifications plugin and plugins that use firebase.

I could not push this to either github or npm due to file size limitations.

[2019-05-21 09:24] Polm90 opened #15 ""framework" tag with type "podspec" is deprecated and will be removed. Please use the "podspec" tag."
When I add the plugin in the ios platform, i receive this warning (cordova 9.0.0 and cordova-ios 5.0.1). Plugin version 3.1.1

[2019-05-21 09:50] ChrisTomAlx commented on #8
Closing this issue. Please reopen if you would like to add something. Thanks!

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-05-21 09:50] #8 closed, assigned to ChrisTomAlx

[2019-05-21 10:08] ChrisTomAlx commented on #15
Hey @Polm90 . Yea the latest cordova 9.0.0 added a new tag for adding cocoapod frameworks. But since older cordova versions won't support this. I won't be switching to this tag atleast for a while. In the meantime, it is just a deprecation notice and it won't affect you in any way atleast for a few more releases of cordova.  Although if you absolutely don't want to see it you can downgrade to cord

[2019-05-21 10:12] Polm90 commented on #15
Thank you.

I've should label it differently (sorry, I forgot to change the label): I only wanted to inform you about the warning :)

[2019-05-21 10:17] ChrisTomAlx commented on #15
No worries. Always a pleasure to help.
Let me know if you run into any troubles.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-05-21 10:17] #15 closed, assigned to ChrisTomAlx

[2019-06-13 00:19] mantrajay commented on #9
I have the same issue like yours. have you solved this issue already? thanks

[2019-06-13 05:15] ChrisTomAlx commented on #9
Hey @mantrajay

Have you already tried the suggestions I have mentioned here?
If not then please try them first. If you have then please create a new issue with explanations of what you have tried, what outputs you got. Also share your environment details (eg device you tested on, cordova version, cordova-android version and so on). If possible also share a simple project with this plugin, but mak

[2019-06-14 14:28] mantrajay commented on #9
I am actually developing a mobile app that capture image and convert it in
ocr but suddenly there was an error like "Could not set the detector" i am
using Nokia 1 Android.. but wen i install it in other mobile like Zenephone
and Samsung it work.. but the requirements of this application is for Nokia
1 Android user only. please help thanks

On Thu, Jun 13, 2019 at 1:15 PM Christy Thomas Alex <
not

[2019-06-14 14:33] ChrisTomAlx commented on #9
Hey @mantrajay
Please do not hijack closed issues. You need to open a new issue if you need help.
As for the nokia user. Ask the user to uninstall the app then reinstall with internet connectivity.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-06-15 01:42] mantrajay commented on #9
yes thanks.. but i have done that already.. still same error. but when i
try to other latest phone it is working fine. only on nokia 1 android does
not work and it prompt could not set up detector.

On Fri, Jun 14, 2019 at 10:33 PM Christy Thomas Alex <
notifications@github.com> wrote:

[2019-06-20 05:54] ChrisTomAlx commented on #9
@mantrajay
I checked out the nokia 1 configuration.. It has very little storage. Could you check how much free space is available on the device ?

Try freeing up some more space then reinstall with the wifi on. Let me know if that works

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-08-23 11:58] badalpatel6534 opened #16 "ionic 4 app.module.ts import MobileOCR not working Solution found"
Hello Community,

**Issue**:

Recently I used mobile ocr plugin in ionic 4
There is mistake in documentation:
import { MobileOCR } from '@ionic-native/ocr/ngx';
This MobileOCR should not be imported

**Solution**:

change
From: import { MobileOCR } from '@ionic-native/ocr/ngx';
To: import { OCR } from '@ionic-native/ocr/ngx';
This will work perfectly

hope so documentation will update and dev will

[2019-08-26 14:14] seme1 opened #17 "Feature Request: Real time Text Recognition"
Feature request:
Add real-time text recognition from camera feed. (Perhaps similar to the following NativeScript plugin)
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/docs/ML_KIT.md#text-recognition

[2019-09-03 15:33] juanpirezsarquis opened #18 "'Could not set up the detector' error"
Hi, I am using this plugin with ionic4. It was working fine and suddenly it stops working on a Samsung J1 Ace. 2,33Gb free space. It works on an iPhone.

The phone is connected to internet and has Google Play Services version 19.0.56.
The project has com.google.android.gms:play-services-vision:17.0.2, and there’s an update (version 18.0.1).

My code:

recognizeText(){
    this.ocr.recText(OCRSourc

[2019-09-04 06:10] ChrisTomAlx commented on #17
Hey @seme1
Thanks a ton for the feature request :) . I must say this would be pretty cool.
Although I think it should maybe be a whole plugin on its own. Since this plugin was mostly made in such a way as to combo up with other camera plugins like `cordova-plugin-camera` & `cordova-plugin-document-scanner`.
Will still consider this as an enhancement and see if it is viable to add it to this plugin

[2019-09-04 06:14] ChrisTomAlx commented on #16
Hey @badalpatel6534
Thanks a lot for bringing this to the community's attention. I will pin this issue to the top and close it.

Cheers and have a nice day :)
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-09-04 06:14] #16 closed, assigned to ChrisTomAlx

[2019-09-04 06:19] ChrisTomAlx commented on #18
Hey @juanpirezsarquis
That is extremely odd. Could you uninstall the app then rebuild / reinstall with the internet on and see if the issue persists? If you are able to reproduce the steps so I can recreate this issue on my end, that would be immensely helpful.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-09-04 14:05] juanpirezsarquis commented on #18
I did what you mention @ChrisTomAlx and the issue persists.

I will try on a new project and see what happens.

[2019-09-04 15:01] juanpirezsarquis commented on #18
The same issue.

ionic start mobileOCRtest tabs --cordova
ionic cordova plugin add cordova-plugin-camera
npm install @ionic-native/camera
ionic cordova plugin add cordova-plugin-mobile-ocr
npm install @ionic-native/ocr

Replace the files:
[replace.zip](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/files/3575092/replace.zip)

ionic cordova run android

Go to tab2.

[2019-09-05 12:10] ChrisTomAlx commented on #18
Hey @juanpirezsarquis
Can you tell me which version of the plugin you are using ?

It is possible the ionic team updated / haven't updated the plugin on their end, There were a few breaking changes in the last release. This might be why you are seeing this issue. Did you remove and readd plugins **or** do cordova prepare **or** cordova platform add <platform> when this issue first started? Any of

[2019-09-05 12:14] ChrisTomAlx commented on #18
Also could you refer to issue #16
Looks like the ionic team has made some mistake in the documentation.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-09-05 13:27] juanpirezsarquis commented on #18
Hi Chris, thank you for your help.

I don't remember what was the last command before the issue started, but I made a new project from start and has the same issue (https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/issues/18#issuecomment-527941782).

The plugin version is cordova-plugin-mobile-ocr@3.1.1 and I am aware of issue #16, is not that.

<plugin xmlns="http://www.phonegap.com/

[2019-09-06 04:57] ChrisTomAlx commented on #18
Okay let me try with both versions of the play services and see if I can reproduce the issue.
Will get back to you soon.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-09-06 05:27] ChrisTomAlx commented on #18
According to [this](https://developers.google.com/android/guides/releases) there is no `19.0.56` version of the google play services. What is causing the version change of the play services? Is it another plugin or is it a manual change ?

Also could you share with me your full list of plugins. You can get this info from the cli using `cordova plugins`.

Cheers,
[Chris](https://github.com/ChrisTom

[2019-09-06 14:10] juanpirezsarquis commented on #18
I was talking about the version of Google Play Services app installed in the phone. It was updated from Google Play Store automatically. If I uninstall de updates, the app downgrades to version 7 and nothing works (Google Photos, Drive, etc). When updated, the version is 19.0.56.

In my original project, the plugins are:
cordova-plugin-camera 4.0.3 "Camera"
cordova-plugin-device 2.0.2 "Device"
cor

[2019-09-06 15:22] ChrisTomAlx commented on #18
Oh I see. I have the same play services app version and I am able to use the plugin with no issues.
If possible could you send over your project folder or atleast reproduce this issue in a new project then send it over? I will test it on my end and see what is causing this issue

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-09-06 18:10] juanpirezsarquis commented on #18
I also have the same issue on Samsung Galaxy S8 (Android 7.0).

This is a starter with mobile-ocr and camera plugins.
[mobileOCRtest.zip](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/files/3585134/mobileOCRtest.zip)

ionic info

Ionic:

   Ionic CLI                     : 5.2.7 (/Users/myuser/.nvm/versions/node/v10.16.3/lib/node_modules/ionic)
   Ionic Framework               : @i

[2019-09-06 20:00] juanpirezsarquis commented on #18
Running adb logcat

W/DynamiteModule( 4817): Local module descriptor class for com.google.android.gms.vision.ocr not found.
I/DynamiteModule( 4817): Considering local module com.google.android.gms.vision.ocr:0 and remote module com.google.android.gms.vision.ocr:0
E/Vision  ( 4817): Error loading module com.google.android.gms.vision.ocr optional module true: hj: No acceptable module found. Local ve

[2019-09-08 05:57] ChrisTomAlx commented on #18
Try clearing data in the google services app and see if it helps. Found this solution from [here](https://stackoverflow.com/questions/42628627/google-mobile-vision-library-not-downloading/44334434)

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-09-10 22:35] juanpirezsarquis commented on #18
It works.

The first time you use the app, it fails because it is downloading the library. After the download is complete, it works normally.

Thanks for your help and time.

[2019-09-10 22:36] #18 closed, assigned to ChrisTomAlx

[2019-09-17 18:39] Serkan-Karacelikler opened #19 "Application Stopped!"
I get an application stopped error when I enter the background after installing the add-in

[2019-09-17 19:10] ChrisTomAlx commented on #19
Hey @Serkan-Karacelikler
Could you give more info on the problem. Also could you share a sample project in which you are able to reproduce the issue

Cheers and have a nice day :)
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-09-17 21:05] Serkan-Karacelikler commented on #19
@ChrisTomAlx
I pass the application to the background after scanning a document, the application gives a stopped error

[2019-09-18 05:30] ChrisTomAlx commented on #19
Please share a sample project so I can reproduce it on my end. Also a video of the issue would be great so I understand exactly when you are seeing this issue.

Please also answer the following questions :-
- Which platform are you seeing this issue on? iOS or Android or both?
- Which cordova version are you using?
- Which other plugins are present in your project?

Cheers
[Chris](https://github.c

[2019-09-18 13:35] Serkan-Karacelikler commented on #19
Thank you for your interest. I noticed that the problem is relevant to the camera plugin.

[2019-09-18 14:40] ChrisTomAlx commented on #19
No worries :)
Glad you were able to figure it out.

Cheers
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-09-18 14:40] #19 closed, assigned to ChrisTomAlx

[2019-09-21 16:34] MohamedFekry007 opened #20 "Arabic Support"
Please why there is no arabic support ??

[2019-09-22 09:31] ChrisTomAlx commented on #20
Hey @MohamedFekry007
Unfortunately googles mobile vision library only supports latin based language for now.
You could however look at tesseract. They have a wide variety of languages. Although not as accurate as googles mobile vision, under the correct lighting it should get the job done.

Cheers and have a nice day :)
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-09-22 09:31] #20 closed, assigned to ChrisTomAlx

[2019-10-10 07:30] jalle007 opened #21 "Which languages does this library support ?"
You haven't provided MOST important information here:
Which languages does this library support ?

[2019-10-10 10:47] ChrisTomAlx commented on #21
Please consider reading the `readme` carefully before raising issues. This information has been provided there as a link.

Cheers
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-10-10 10:47] #21 closed, assigned to ChrisTomAlx

[2019-10-10 10:52] seme1 commented on #17
Thanks for the response. Would love to see this added (either as a separate plugin or an added feature to this plugin). No other Cordova plugin exists that performs this function.

[2019-10-10 11:20] ChrisTomAlx commented on #17
Looks like this [plugin](https://www.npmjs.com/package/com.virtuoworks.cordova-plugin-canvascamera) returns frame by frame images while also showing the camera feed. You can sent each frame to the ocr plugin to get close to real time recognition.

Cheers and have a nice day :)
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-10-10 11:33] seme1 commented on #17
Will look into it. Thanks so much for the suggestion.

[2019-10-13 15:47] ghost opened #22 "Compatibility problem with google plus"
hi, since I installed cordova-plugin-mobile-ocr in my project the sign up of google plus doesn't work anymore, not from any kind of error simply the login popup doesn't appear.

[2019-10-14 05:29] ChrisTomAlx commented on #22
Hey @Lucaognissante
Thanks for raising an issue.
Could you send me a project with the minimum stuff to reproduce this issue. I will check it on my end.

Cheers and have a nice day :)
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-10-14 08:12] Lucaognissante commented on #22
If you leave me an email I can send you the project, here I can't upload it for privacy and because it's too big

[2019-10-14 08:27] ghost commented on #22
I uploaded the project on drive, If you try to compialre for android and test the app the google plus works, but just install the ocr with the following commands:

ionic cordova plugin add cordova-plugin-mobile-ocr
npm install @ionic-native/ocr

when I go to re compile the project for android if I try to log in with google plus nothing is displayed to me and no error

project: https://drive.google

[2019-10-16 07:56] DarthegX opened #23 "Text-recognizer not working"
Hi, I'm using cordova-plugin-mobile-ocr in my project and I try to use the plugin but after I pick a photo with the camera (on Android) the text recognizer function do not return anything.
When I pulse the buttom to recognize the app return this message in the console:

"Native: tried calling OCR.recText, but the OCR plugin is not installed. "
"Install the OCR plugin: 'ionic cordova plugin add cor

[2019-10-16 08:00] ChrisTomAlx commented on #23
Try debugging in chrome and see if `textocr.recText` is present there. If not, it means the plugin has not been installed

Cheers and have a nice day :)
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-10-18 09:56] ChaminThilakarathne opened #24 "How do i pass 4 arguments ?"
![Untitled](https://user-images.githubusercontent.com/25498284/67084976-9f948580-f1bb-11e9-9fe5-0d5bf4a5daab.png)

[2019-10-18 14:48] ChrisTomAlx commented on #24
Hey @Chamiyalt
Where are you getting this documentation from? Also what is plugin version are you using?

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-10-21 03:09] ChaminThilakarathne commented on #24
cordova-plugin-mobile-ocr 3.1.1 "Textocr"

[2019-10-21 04:09] ChaminThilakarathne commented on #24
this is the documentation which i followed https://ionicframework.com/docs/native/ocr#usage

[2019-10-21 06:39] #23 closed, assigned to ChrisTomAlx

[2019-10-21 06:40] ChrisTomAlx commented on #24
I did not create that documentation or the interface ionic uses.
But as far as I can tell, you don't need to pass in success and failure.
`OCR.recText` is a promise function, so you can just look for the resolve and reject, instead of passing in success and error callback functions.

So I guess the function call might look something like (got this from ionic docs) :-
[code]

The [link ](https://io

[2019-10-22 21:26] dany-nonstop opened #25 "Does not work with base64 image"
My code is pretty straightforward, in a ionic4 project I uses a single pixel image to test that the plugin is running correctly. And I got this error:

, with no context / detail explanation for me to debug.

[code]

ps. I got the single pixel base64 from google search, it's a transparent png.

let me know if any additional information is required for your debugging. actually I tried other base64

[2019-10-23 05:40] ChrisTomAlx commented on #25
Hey @github-yd
Thanks for raising an issue here,

Try changing
`src = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==';`
to
`src = 'iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==';`

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-10-23 10:55] ChaminThilakarathne commented on #9
Can we set up detector separately?

[2019-10-24 09:16] ChaminThilakarathne opened #26 "Could not set up the detector"
I have used two devices which are Samsung Galaxy J Max and Huawei Honor 6X  for testing my app, Plugin working smoothly on Huawei device and Samsung device shows the error "Could not set up the detector" how can i fix this ? can i add bellow pakages separately
 com.google.android.gms.vision.Frame;
com.google.android.gms.vision.text.Text;
com.google.android.gms.vision.text.TextBlock;
com.google.and

[2019-10-24 10:45] ChaminThilakarathne commented on #26
this is the logcat of Samsung android device
![image](https://user-images.githubusercontent.com/25498284/67478352-7ec7a680-f679-11e9-8d68-a748e715bd6f.png)

[2019-10-24 16:48] ChrisTomAlx commented on #26
Hey @Chamiyalt
Usually the two culprits are network and internal storage space. Make sure these two are accounted for. If that is not causing the problem, try clearing the app data from settings and see if that works

Also could you send this image as text so I can copy - paste - search.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-10-25 09:42] #24 closed, assigned to ChrisTomAlx

[2019-10-25 09:44] ChaminThilakarathne commented on #26
[code]

[2019-10-25 09:46] ChaminThilakarathne commented on #26
https://stackoverflow.com/a/39313255/7596996 can you tell is it the problem?

[2019-10-25 10:06] ChaminThilakarathne commented on #24
It was worked. Thanks a lot.

[2019-10-25 10:50] ChrisTomAlx commented on #24
Awesome!

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-10-25 10:51] ChrisTomAlx commented on #26
Let me take a look. Thanks for sharing the logs

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-10-25 10:57] ChrisTomAlx commented on #26
These logs don't look like they are linked to ocr. Also this log is different from the original image you sent.
Here is something you could try. In the samsung device, create a vanilla cordova app and use the ocr plugin directly with the camera plugin and see if it works fine.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2019-10-28 07:10] ChaminThilakarathne commented on #26
Problem is happened in thread that u have created , i think thread come in to waiting state during the downloading of google packages then processor give the chance to next priority thread then it shows the exception,i  will get the those packages out of the tread it was worked smoothly.
thanks a lot for your support.

[2019-10-28 08:34] ChrisTomAlx commented on #26
So the ocr runs on a separate thread, I did not want to block the UI and hence ran it on a different thread. Would it be better if the ocr ran on the UI thread or the user of the plugin had an option to choose between UI thread or new thread?

Would love your suggestion as you seem to be one of the few who have run into this issue and solved it.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Ne

[2019-10-28 09:00] ChaminThilakarathne commented on #26
better to has option to choose between UI thread or new thread, with crystal clear documentation 👯‍♂

[2019-10-29 04:39] ChaminThilakarathne commented on #26
apart from i assume some of  devices are allowed to download google packages in separate thread that you are using but some of the devices which have less performance is allocated less time to tread that u are using because of tread can't download google packages correctly.

[2019-12-11 12:19] basitraza339 commented on #5
Hello,

This plugin isn't reading the text, after the camera captures the image and show it. After click, recognize button getting exception error, I'm using ionic 4.

tab2.ts
`import { Component } from '@angular/core';
import { Camera, CameraOptions, PictureSourceType } from '@ionic-native/camera/ngx';
import { NavController, ActionSheetController, Platform, LoadingController } from '@ionic/angul

[2019-12-13 01:48] thmclellan opened #27 "Google Mobile Vision relying on deprecated UIWebview"
Using this plugin on a Capacitor project, I'm running into an Apple testflight warning that we're using UIWebView (ITMS-90809: Deprecated API Usage — Apple will stop accepting submissions of apps that use UIWebView APIs).

Doing a search for UIWebview references, it seems that the GoogleMobileVision pod is still referencing UIWebview, which may be triggering the error from Apple.

Related issue: h

[2020-01-05 17:58] alokGuptaSTC opened #28 "no"
no

[2020-01-06 05:07] ChrisTomAlx commented on #28
Please re - raise the issue if this was a valid issue.. It seems formatting is completely off so closing it.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-01-06 05:07] #28 closed, assigned to nobody

[2020-01-06 13:14] AlokGupta007 opened #29 "ReferenceError: textocr is not defined"
Hi,

I am trying to test this plugin in phonegap android application. But getting this error.
Please give solution. Thanks in advance.
Here is the error :
Error in Success callbackId: Camera1720476463 : ReferenceError: textocr is not defined
Cordova version - 9.0.0 (cordova-lib@9.0.1)
npm - 6.9.0
node -v  - v10.16.3

[2020-01-06 14:24] ChrisTomAlx commented on #29
Hey @AlokGupta007

This usually happens when you don't have the plugin installed properly.
Try `cordova plugins` from cli. Post the list you get here. You should have this plugin in that list.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-01-12 11:13] AlokGupta007 commented on #29
I am using "cordova plugin add cordova-plugin-mobile-ocr" cli for installing api. In config.xml plugin configuration is not available after plugin installation. Please suggest the correct thing.

Thanks

[2020-01-12 17:48] ChrisTomAlx commented on #29
Did you try as I suggested??

Send a sample project over and I will test it out on my end.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-02-01 20:53] pdrhlik commented on #25
Hi @ChrisTomAlx,

I was having the same problem but your suggestion fixed it. I followed an example on the Ionic OCR plugin page but it's obviously wrong.

You can safely close this issue.

Thanks a lot for the help!

Cheers,
Patrik

[2020-02-02 07:19] ChrisTomAlx commented on #25
Hey @pdrhlik

Thanks for updating me on this.. Will close the issue.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-02-02 07:19] #25 closed, assigned to ChrisTomAlx

[2020-02-13 18:46] NurdinDev commented on #17
I need the same @seme1 did you find your request?

[2020-02-22 19:14] thmclellan commented on #27
Apple has announced they'll no longer accept new apps with UIWebview in April 2020 and no more app updates in December 2020. @ChrisTomAlx are you still maintaining this plugin for iOS or is it only for Android?  I saw you also created https://github.com/NeutrinosPlatform/cordova-plugin-ml-text and wondered if that fixes the UIWebview issue. Thanks

[2020-02-25 11:37] ChrisTomAlx commented on #27
Hey @thmclellan
Could you see if the new cordova-ios 5.1.0 fixes this issue?
Using the solution here :- https://github.com/apache/cordova-ios/pull/715

Basically add the following line to your config.xml
`<preference name="WKWebViewOnly" value="true" />`
it should disable all UIWebView compilations.

I am on a slightly heavy schedule now, so if you would be kind enough to test it out that would be

[2020-02-26 03:20] thmclellan commented on #27
Thanks @ChrisTomAlx for clarifying. We're actually running the plugin on a project with Capacitor, Ionic's alternative to Cordova, and it's only using WKWebview. Even with that setup, we're still getting the UIWebView deprecation error from Apple. When grepping the project, it looks like the UIWebView reference is coming from the Google Mobile Vision framework.

Unfortunately Google isn't planning

[2020-02-26 05:04] ChrisTomAlx commented on #27
The [cordova-plugin-ml-text](https://bitbucket.org/bhivedevs/cordova-plugin-ml-text) plugin was created to address this exact issue, if and when Google decides to throw away the original library.
But the plugin is a bit dated and hasn't been tested in a while. If UIWebView is a big blocker for you, Using the ml-text plugin is your best bet. You can raise issues for that plugin [here](https://githu

[2020-02-26 18:14] thmclellan commented on #27
Thanks Chris, appreciate the background, we'll give that a try. Cheers, Tom

[2020-03-11 03:19] a0fzide opened #30 "Pod Problem with build ios"
First build with error :
warning: The iOS Simulator deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 7.0, but the range of supported deployment target versions is 8.0 to 13.2.99. (in target 'GTMSessionFetcher' from project 'Pods')

I put this code in podfile

post_install do |pi|
    pi.pods_project.targets.each do |t|
        t.build_configurations.each do |config|
            config.buil

[2020-03-11 07:42] ChrisTomAlx commented on #30
Hey @a0fzide

You need to follow these steps as mentioned in Readme after adding the plugin and before doing a build :-

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-03-11 07:45] #29 closed, assigned to ChrisTomAlx

[2020-04-06 10:49] rjurado01 opened #31 "Does this plugin send info to Google servers?"
I want to use this plugin into client app but he is worried about the confidentiality of information.

Does this plugin send any kind of information to Google servers when internet is on?
Some tools like this send info to improve text recognition.

Thanks for your work.

[2020-05-23 21:48] JrLouis1101 opened #32 "ERROR TypeError: Object(...) is not a function at OCR.recText"
Hi, I'm trying to use ocr plugin in my  ionic 3 project, but when I call recText console returns this error:
ERROR TypeError: Object(...) is not a function at recText.

I used this commands to install the plugin:
ionic cordova plugin add cordova-plugin-mobile-ocr
npm install @ionic-native/ocr

my function:

  readTag(){
   this.ocr.recText(OCRSourceType.BASE64, this.imageText)
  .then((res: OCRRes

[2020-05-24 15:35] ChrisTomAlx commented on #31
Hey @rjurado01

Sorry about the delayed response. As far as I know it does not. Only on first install it requires internet to download the recognition machine learned model. But if you do come across any network calls after the initial download please feel free to share I can look into it. Closing this issue for now. Drop a comment and I can reopen it.

Cheers,
[Chris](https://github.com/ChrisTomA

[2020-05-24 15:35] #31 closed, assigned to ChrisTomAlx

[2020-05-24 15:48] ChrisTomAlx commented on #32
Hey @JrLouis1101

You will probably have to raise this with the ionic guys. I don't maintain the ionic documentation. Sorry I could not be of any help.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-05-29 06:13] karthi941111 commented on #11
Hi..

$('#camScan').click(function(){
                    navigator.camera.getPicture(onSuccessCam, onFailCam, { quality: 50, correctOrientation: true });
            });

            function onSuccessCam(imageData) {
                try{
                    textocr.recText(0, /*3,*/ imageData, onSuccessRegc, onFailregc);
                      function onSuccessRegc(recognizedText) {

[2020-06-04 13:17] nisanc opened #33 "Error in Success callbackId: Camera709080135 : ReferenceError: textocr is not defined"
I can build and data is returned using the latest version but when trying to use cordova phonegap build with version 1.0.1 so I can return LINES of text I receive the following error:
"Error in Success callbackId: Camera709080135 : ReferenceError: textocr is not defined"

XML file:
`		<plugin name="cordova-plugin-mobile-ocr"  source="npm" spec="1.0.1"/>`

html sample code:
  `

         function c

[2020-06-04 14:14] ghost commented on #33
it looks like the plugin has not been installed.
try `phonegap plugins` or `cordova plugins` to check if the plugins are installedto check if the plugins are installed.
or try installing the plugin again from the terminal

[2020-06-04 14:17] nisanc commented on #33
I am using the phonegap build service. It is installed from the XML file:
plugin name="cordova-plugin-mobile-ocr" source="npm" spec="1.0.1"

does version 1.0.1 exist on NPM?

[2020-06-04 14:17] ghost opened #34 "plugin not added"
I get this error when trying to add the plugin

![image](https://user-images.githubusercontent.com/13053339/83768220-e3f26a00-a654-11ea-91aa-3580e9559685.png)

[2020-06-04T14_15_49_845Z-debug.log](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/files/4730616/2020-06-04T14_15_49_845Z-debug.log)

ps: sometimes the plugin installs normally

[2020-06-04 14:21] ghost commented on #33
maybe it's something with the network, I don't know. I'm also getting an error when trying to install version 3.1.1

[2020-06-04 14:24] nisanc commented on #33
via the build log:
Plugin doesn't support this project's cordova-android version. **_cordova-android: 6.3.0, failed version requirement: >=6.4.0_**
Skipping 'cordova-plugin-mobile-ocr' for android

Is that saying I need cordova 6.3.0 ?

I am using version 7

[2020-06-04 14:28] ghost commented on #33
everything indicates that yes,
maybe that can help you too [issue#14](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/issues/14#issuecomment-487257297_)

[2020-06-04 14:34] nisanc commented on #33
Thank you. I had to update the PG Build version to 8.0.0
preference name='phonegap-version' value='cli-8.0.0'

ironic it had to be increased to install and older version.

[2020-06-04 14:34] #33 closed, assigned to nobody

[2020-06-04 14:54] ghost commented on #34
I don't know how but the problem was solved after:
run `npm i cordova-plugin-mobile-ocr`
and remove and add the plugin again

[2020-06-04 14:54] #34 closed, assigned to nobody

[2020-06-13 04:32] dzungcao opened #35 "foundText: false issue with base64 image"
I am facing this issue with below base64 image. Hope someone can help to look into this.

Thank you very much

Input:
--------------------------------
iVBORw0KGgoAAAANSUhEUgAAAGcAAABnCAYAAAAdQVz5AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAZ6ADAAQAAAABAAAAZwAAAAA7gf8VAAAIXElEQVR4Ae2dbWwURRjHn9ltD8qbgEUx+MJrIggoWGivkIgviaKUNL1eAhERNEqI4hdU/CCmEdRgF

[2020-06-13 11:40] ChrisTomAlx commented on #35
Is this your image?

<img src="https://user-images.githubusercontent.com/34361280/84567657-b1084e80-ad97-11ea-916b-b8384cd52607.png" width="100">

This looks like handwritten text. Although this plugin could work with really neatly written text it is meant for machine generated text. The model has been trained with those. To test this you can click a pic of a page in a printed book or a business c

[2020-06-13 11:40] #35 closed, assigned to ChrisTomAlx

[2020-06-13 13:04] dzungcao commented on #35
Hi Chris,

Yes, I am trying to detect single handwritten characters.

Thanks for your quick response.

[2020-07-21 08:28] wsdt opened #36 "TypeScript support"
Please add TypeScript declarations :-)

[2020-07-21 08:32] #36 closed, assigned to nobody

[2020-08-04 19:04] sonydaman opened #37 "ocr.recText giving error"
## Trying with :
`this.ocr.recText(OCRSourceType.BASE64, this.imgUri)`
### Unfortunaltly getting error as follows :
`Line 1824 : ERROR TypeError: Object(...) is not a function`

The issue raised on [Ionic Document](https://forum.ionicframework.com/t/cordova-plugin-mobile-ocr/153039)
### Ionic Info :
`Ionic:

   Ionic CLI          : 5.4.16
   Ionic Framework    : ionic-angular 3.9.5
   @ionic/app-s

[2020-08-14 11:48] ChrisTomAlx commented on #37
Duplicate of #32

[2020-08-14 11:48] #37 closed, assigned to ChrisTomAlx

[2020-08-15 13:18] sonydaman commented on #32
Here is ionic desc :
The issue raised on [Ionic Document](https://forum.ionicframework.com/t/cordova-plugin-mobile-ocr/153039)

BUG NO :  [#37] (https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/issues/37)

[2020-09-29 13:00] tushar-agg opened #39 "Orientation issue on upload"
on uploading image that is of 90 degrees orientation. the returned value is {'foundText':false}, no text is returned from api.

[2020-09-29 13:48] ChrisTomAlx commented on #39
Hey @tushar-agg, Thanks for raising this issue. But unfortunately the plugin expects the image input to have text that is upright. You can do some post-processing with other plugins on the image before using it as input to this plugin.

Making changes to the image is out of scope of this plugin.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-09-29 13:48] #39 closed, assigned to ChrisTomAlx

[2020-10-16 08:45] tushar-agg commented on #39
Hi Christy,

Just want to ask one thing
1. Is this plugin has any free tier limit or we can use it for any number
of images for ocr?

2. Is there any major issues in this plugin as we are planning to roll out
this plugin in production

Thanks
Tushar

On Tue, Sep 29, 2020, 19:18 Christy Thomas Alex <notifications@github.com>
wrote:

[2020-10-20 08:34] ChrisTomAlx commented on #39
1. No limit you are free to use it without any restrictions
2. I am not sure if there are issues, but UIWEBVIEW deprecation could be an issue for ios. You can instead also try https://github.com/NeutrinosPlatform/cordova-plugin-ml-text which was recently updated.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-10-22 21:38] ceroideas commented on #27
Hi, can anyone be so kind as to show me how to install this plugin in ionic? (cordova-plugin-ml-text), thank you very much in advance

[2020-10-27 14:27] Polm90 commented on #27
I'm not receiving the warning anymore since a couple of weeks... Maybe did Google update pods?

[2020-10-27 15:35] ChrisTomAlx commented on #27
@Polm90 Are you sure? You are talking about iOS itself right? I don't see a new pod as such but maybe its one of the internal dependencies that changed. Re-opening this issue because I am sure a lot of people might be wondering about this. If anyone gets this into app store when pushing a new app let us know. Thanks. This is not applicable to updating an older version of the app on app store - upd

[2020-10-27 16:49] Polm90 commented on #27
I do not know what changed...and I did not checked if Google has changed something... But I currently have an app on the AppStore which uses this plugin. In the last months, everytime I've uploaded an update on Testflight I've received the warning mail from Apple saying that I was using a deprecated API and from december 2020 I wouldn't be able to upload new binaries. I've received the last mail o

[2020-10-27 17:41] ChrisTomAlx commented on #27
That is really strange @Polm90. I will keep the issue open for now. Please update us if the behavior changes in some way or you figure out why the sudden change in behavior. Would really appreciate it. Thank you

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-12-11 21:26] CoraNers commented on #32
I'm getting the same error. Tried following the links to the other issue (# 37 raised with Ionic guys) and that was marked as closed due to duplicate.  ???

[2020-12-12 08:12] ChrisTomAlx commented on #32
Could you try [this](https://github.com/NeutrinosPlatform/cordova-plugin-ml-text/issues/6) instead. Its similar to this plugin and has been updated recently.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-12-28 07:35] haghighi251 commented on #26
Hi, I have the same error. I published my problem here:
https://stackoverflow.com/questions/65470328/cordova-textocr-convert-image-to-text

[2020-12-28 09:00] ChrisTomAlx commented on #26
@haghighi251 did you try eveerything mentioned in the comments ?
Also you might want to use https://github.com/NeutrinosPlatform/cordova-plugin-ml-text instead of this plugin.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-12-28 23:24] haghighi251 commented on #26
@ChrisTomAlx as far as I know yes, But I'm not sure about treading. Do download google packages have a connection with my pc devices? I make an empty application with the ocr plugin and Cordova camera plugin and then added the android platform and then I made apk file. But I have that problem yet. I'm using windows 10 with Cordova version 10 and android platform version 9. I tested ad some differe

[2020-12-29 06:08] ChrisTomAlx commented on #26
Does your phone have a stable internet connection when installing the application?

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2020-12-29 18:52] haghighi251 commented on #26
@ChrisTomAlx Yes, It does have.

[2021-01-10 20:04] xataramana opened #40 "IOS not recognize text, project created on Apple M1."
Project with mobile-ocr plugin created on Apple M1, xcode 12.3, cordova 10.0.0 cordova-ios 6.1

Plugin see data from image (from camera) but  recognize wrong text. For example for "Some text on image", plugin returns something like "cw Fd".

Perhaps problem because Pods. During instalation "pod update" return error. On the web I found other problems because Pods and Apple Silicone.

P.S. the same

[2021-01-11 06:43] ChrisTomAlx commented on #40
You can try using https://github.com/NeutrinosPlatform/cordova-plugin-ml-text as well

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-11 21:24] xataramana commented on #40
Thank you, for response. Unfortunately, error while installing (I ran terminal with option "open with rosetta" and without rosetta)

Installing "cordova-plugin-ml-text" for ios
Running command: pod install --verbose
Failed to install 'cordova-plugin-ml-text': Error: pod: Command failed with exit code 1
    at ChildProcess.whenDone (../platforms/ios/cordova/node_modules/cordova-common/src/superspaw

[2021-01-13 21:07] jfoclpf opened #41 "Please be more verbose on iOS setup"
I'm not that versed in iOS. Can you be more verbose on the iOS setup?

Make sure you have cocoapods installed then in command line do pod update.
Now open myapp.xcworkspace which is usually found in the same directory as the podfile, then build and run.
Note :- if you use myapp.xcodeproj to build and run, it will not work and it will show a linker error.
Note :- if you manually create the podfile,

[2021-01-13 22:50] jfoclpf opened #42 "Automate installation of plugin for iOS"
Why don't you automate the setup after installing this plugin on iOS with a plugin hook?
https://cordova.apache.org/docs/en/latest/guide/appdev/hooks/#plugin-hooks-pluginxml

[2021-01-13 22:51] jfoclpf opened #43 "automate the setup after installing this plugin on iOS"
Why don't you automate the setup after installing this plugin on iOS with a plugin hook?
https://cordova.apache.org/docs/en/latest/guide/appdev/hooks/#plugin-hooks-pluginxml

[2021-01-13 22:52] jfoclpf commented on #43
error, duplicate

[2021-01-13 22:52] #43 closed, assigned to nobody

[2021-01-15 15:34] Catscratch opened #44 "Difference between cordova-plugin-mobile-ocr and cordova-plugin-ml-text"
Since this plugin seems outdated, is [cordova-plugin-ml-text](https://github.com/NeutrinosPlatform/cordova-plugin-ml-text) the current solution to use? What's the difference?

Thanks!

[2021-01-15 15:37] Catscratch commented on #30
I wanna re-open this issue.

I have the same problem. The solution above works once. But how may I continuously develop on iOS using this plugin? I need cordova build to work for testing and production environment. Also things like live reload seem not to work as long as the usual XCode command line build is not working.

Can you fix the command line build?

[2021-01-15 17:21] ChrisTomAlx commented on #44
Tl;Dr :
Use the [cordova-plugin-ml-text](https://github.com/NeutrinosPlatform/cordova-plugin-ml-text). It is more recent, but less mature since it has not been used as much as the ocr plugin.

Long version :
The ml-text plugin uses the more recent ml-kit based libraries. The mobile-ocr plugin was created when those libraries were in its infancy. It wasn't really a kit back then. I created the ml-k

[2021-01-15 17:21] #44 closed, assigned to ChrisTomAlx

[2021-01-15 17:24] ChrisTomAlx commented on #41
You can open the xcworkspace file in xcode and build run there or after pod install use build flags along with `cordova build` to build on the cli. Refer the official cordova website for more details about build flags.

Please feel free to raise a pr for the readme, if you think I have missed something.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-15 17:24] #41 closed, assigned to ChrisTomAlx

[2021-01-15 17:26] ChrisTomAlx commented on #42
I had some troubles in early days with hooks not running as expected, that is why I never bothered to implement it. If you are able to raise a working pr with the changes I can review them.

Thanks and Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-15 17:33] ChrisTomAlx commented on #30
You can use build flags to build via cli after the pod install step. Refer to the cordova official website to learn about build flags.

**Here is an example build cli command with build flags :-**
[code]
You might have to change some things based on your setup.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-15 17:34] ChrisTomAlx commented on #41
**Here is an example build cli command with build flags :-**
[code]
You might have to change some things based on your setup.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-16 09:05] jfoclpf commented on #42
ok, I will take a look, because hooks nowadays are better dealt with from cordova

[2021-01-16 13:34] xataramana commented on #40
I did:
**cordova plugin add https://bitbucket.org/bhivedevs/cordova-plugin-ml-text.git**

Now I have plugin files in project folder _node_modules_ and package.json has:
  "devDependencies": {
    "cordova-android": "^9.0.0",
    "cordova-browser": "^6.0.0",
    "cordova-ios": "^6.1.1",
    "cordova-plugin-ml-text": "bitbucket:bhivedevs/cordova-plugin-ml-text",
...

**cordova build**  finish withou

[2021-01-16 16:31] ChrisTomAlx commented on #40
Why don't you use `cordova plugin add cordova-plugin-ml-text` ? Github has the latest code for both the plugins and they are hosted on npm as well so you don't need bitbucket.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-16 19:08] xataramana commented on #40
On Apple M1 I have one error after another.

`cordova plugin add cordova-plugin-ml-text` at first time was error (see top), then I made some tricks like
`arch -x86_64 sudo gem install cocoapods`
`arch -x86_64 sudo gem install ffi`
`arch -x86_64 pod install`
and plugin was installed without error but running `cordova build ios` return

_error: Resource "/Users/raman/Library/Developer/Xcode/DerivedD

[2021-01-17 16:45] jfoclpf commented on #42
Please guide me here for the PR, because I know a lot of hooks for cordova, but I'm not that versed in iOS, since all the hooks I created are for android cordova projects.

For now it's clear we have to add in [`plugin.xml`, line 45](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/blob/master/plugin.xml#L45)  to `<platform name="ios">` the following extra line:
`<hook type="after_pl

[2021-01-17 17:15] ChrisTomAlx commented on #42
Now that I think about it, this is a project level action, not a plugin level one. You do pod install only after you add a platform not after plugin install so this hook might fail in certain weird scenarios where plugin was installed first. This hook is supposed to sit in the config.xml of a project rather than the plugin.xml of plugin.

Thanks anyways for trying. Please close this issue unless y

[2021-01-17 17:19] jfoclpf commented on #42
I perfectly understand your point, though I have a question:
when I do `cordova build ios` everything runs smoothly, that is, the build succeeds and I have a lot of plugins. But after installing this plugin, when I run again  `cordova build ios` the build fails. Thus there is something in this plugin that is breaking the cordova build.

[2021-01-17 17:20] ChrisTomAlx commented on #42
You add this plugin, then do `pod install` then build

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-17 17:24] jfoclpf commented on #42
I think the `plugin.xml` may also accept a hook `after_platform_add`, but I'm not fully sure, I need to test

[2021-01-17 19:11] jfoclpf commented on #42
1. @ChrisTomAlx I was checking again and yes, we can have other common hooks in `plugin.xml`.
More important even that `after_platform_add` we can have a hook `before_compile` or `before_build`. That is ok and it works. If you see the [example given in docs](https://cordova.apache.org/docs/en/latest/guide/appdev/hooks/#plugin-hooks-pluginxml), it's also clear that you can have common hook in `plug

[2021-01-17 19:45] ChrisTomAlx commented on #42
I am a little worried about doing it this way because I haven't seen any of the plugins use hooks for pod install. There might be some scenario that I am overlooking. It seems a bit hacky to me. I don't think it should be part of the plugin to be honest.

I am not entirely sure what this issue is. Were you getting the same error with the [ml-text](https://github.com/NeutrinosPlatform/cordova-plugi

[2021-01-17 20:56] jfoclpf commented on #42
1. Ok, got it, I see your point
2. That ml-text does not work either, log is here:

[code]

I waited several minutes and nothing

[2021-01-18 05:07] ChrisTomAlx commented on #42
Try doing this command manually?

`/usr/local/bin/git clone https://github.com/CocoaPods/Specs.git -- cocoapods`

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-18 07:24] Catscratch commented on #30
Problem is that the build is still not working. I get either the "GoogleMVTextDetectorResources.bundle not found" error or when I run pod install/update manually I get the "'IPHONEOS_DEPLOYMENT_TARGET' is set to 7.0" error.

So my question is how may we achieve a working build without errors?

[2021-01-18 07:52] ChrisTomAlx commented on #30
So I think the min `IPHONEOS_DEPLOYMENT_TARGET` should be raised for the project or lowered for the pods, but I am not entirely sure how.

You can try editing the podfile to lower the deployment target in `platforms/ios` and see if that helps.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-18 14:45] xataramana commented on #40
Finally I returned to mobile-ocr. On android - no problem.
I see errors in terminal while building on cordova for ios, but app on iOS is working

I found that problem is in other sphere. Text on iOS is not recognized from picture taken from camera, but if I select the same picture from library -> text is recognized.

[2021-01-18 19:04] Catscratch commented on #30
Ok. I played around a bit but have no real progress here.

I found out that the version mismatch for IOS comes from the Google implementation because it's simply too old. But it's only a warning. So it doesn't block the build.

But the build still fails because it can't find the bundle. The file is available in the platform/ios/build/emulator directory but the build itself fails because xcode is s

[2021-01-18 20:52] jfoclpf commented on #42
It worked, it takes ages but it works and `cordova plugin add cordova-plugin-ml-text --verbose` is not that verbose

But that doesn't matter because the problem is the same, after adding this plugin `cordova build ios` fails. When I remove the plugin, it succeeds.

<details>
  <summary>Check the log (1/3)</summary>
[code]
</details>

[2021-01-18 20:53] jfoclpf commented on #42
<details>
[code]
</details>

[2021-01-18 20:53] jfoclpf commented on #42
<details>
CompileC /Users/user926670/Library/Developer/Xcode/DerivedData/Denúncia_Estacionamento-cakwmvmhffwxigdavpvkssbcuvdh/Build/Intermediates.noindex/Denúncia\ Estacionamento.build/Debug-iphonesimulator/Denúncia\ Estacionamento.build/Objects-normal/x86_64/CDVWKInAppBrowser.o /Users/user926670/dev/form-for-parking-violation/platforms/ios/Denúncia\ Estacionamento/Plugins/cordova-plugin-inapp

[2021-01-18 20:56] jfoclpf commented on #42
Even better, the log file of `cordova build ios`: [log.txt](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/files/5832364/log.txt)

[code]

[2021-01-19 07:44] xataramana commented on #40
Finally I returned to mobile-ocr:
`cordova build ios` every time return errors, but on device (or simulator) app is working.

Probably the global problem was because I have not used options `targetWidth` and `targetHeight` in camera plugin.
I added this to camera plugin and now OCR plugin works fine in ios!
Closed.

P.S. OCR on android works fine without this camera options.

[2021-01-19 09:02] ChrisTomAlx commented on #40
Oh that is great to know. Glad you were able to get it to work.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-19 09:02] #40 closed, assigned to nobody

[2021-01-19 09:07] ChrisTomAlx commented on #42
Would it be possible for you to try the build on a device from xcode instead of using a simulator ? Maybe that will help.

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-19 09:32] ChrisTomAlx commented on #30
Could you try the following
 - `cordova platform rm ios`
 - `cordova platform add ios@x.x.x` - where x.x.x is the cordova-ios version you are using
 - `cd platform/ios`
 - `pod install`
 - `cd ..`
 - `cd ..`
 - `cordova build ios` - let it build and fail its okay
 - `cd platform/ios`
 - Open the `yourapp.xcworkspace` file, which will open with xcode
 - Then build and run using a device rather than

[2021-01-19 09:49] jfoclpf commented on #42
I have no Apple device. But when I open in XCode it builds just fine. But
when I use the CLI from cordova it fails.

[2021-01-19 09:57] ChrisTomAlx commented on #42
What is the exact command you are using ? Did you try [this ](https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr/issues/41#issuecomment-761079273)?

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-01-19 12:40] sdevamit commented on #42
Same issue i faced, dont have ios device.

cordova 9.0.0
ios 5.1.1

Working:
- `cordova build ios --buildFlag="-UseModernBuildSystem=0"`
- building for emulator using xcode

Failing;
- `corodova build ios`
- archive / build for any arm device

[2021-01-19 20:36] jfoclpf commented on #42
No, because I have no Apple device. I can use only for now emulators

[2021-01-19 20:38] jfoclpf commented on #42
The command `cordova build ios --buildFlag="-UseModernBuildSystem=0"` did not work either.
I also tried `cordova build ios --emulator --buildFlag="-UseModernBuildSystem=0"` and it didn't work. When I remove this plugin, it works.

[2021-01-19 20:41] jfoclpf commented on #42
Cordova info on my side:
[code]

[2021-02-09 10:55] Flofie commented on #27
I can confirm that despite not getting an Email the issue still persists. If you create a new app on the appstore and deploy an app with cordova-plugin-mobile-ocr the app gets rejected by "Deprecated API use"

[2021-02-09 11:13] ChrisTomAlx commented on #27
Yea it seems apple has started rejecting UIWebView app updates again. I think this is a good time to switch to the [ml-text plugin](https://github.com/NeutrinosPlatform/cordova-plugin-ml-text) . Releasing a new update today that adds the foundText key so the output of both the plugins should be almost identical, thereby reducing the amount of code changes that will be required.

Cheers,
[Chris](ht

[2021-03-30 14:03] jfoclpf commented on #27
I can also confirm that Apple rejects this plugin. Furthermore this plugin makes the build crash upon `cordova build ios`. I strongly recommend you to stop support for ios (at least temporarily) because Cordova CLI [does not allow developers to install plugins only in a specific platform](https://github.com/apache/cordova-cli/issues/552) and this plugin still does work perfectly in Android.

There

[2021-03-30 15:40] ChrisTomAlx commented on #27
@jfoclpf
Have you tried the [ml-text plugin](https://github.com/NeutrinosPlatform/cordova-plugin-ml-text) ? Will be deprecating this plugin soon in its entirety, since there is no need for two plugins that do the same thing

Cheers,
[Chris](https://github.com/ChrisTomAlx)
[Neutrinos](http://www.neutrinos.co/)

[2021-03-30 17:32] jfoclpf commented on #27
Hi @ChrisTomAlx once I tried that plugin and I got similar errors while building. Anyway there's no need to deprecate this plugin because insofar it works perfectly in Android.

Just remove references to ios in `plugin.xml` with a note in readme that it is only supported in Android. If you want I can do a PR with such amendment.

[2021-03-30 18:41] jfoclpf commented on #27
@ChrisTomAlx I made a fork of this plugin and made [these commits](https://github.com/jfoclpf/cordova-plugin-mobile-ocr/compare/b711f9199d6ecb0b502e42f04af9314beb5e471e..c043d0566b5d016461ed24fa60d6db178cc63d99), now it's working like a charm :)

[2021-07-20 06:55] hpvaghani commented on #27
Hi,

Plugin seems to be for cordova only, there is no support for ionic2+(no node modules). Please share resolution/work around for same if found as i had to remove plugin for iOS build bcuz non of the above solutions worked and kept giving same deprecation error for iOS build.

Thanks in advance.

[2021-09-12 11:18] kstolk commented on #27
Anyone still active on this plugin? Kind of lost for use in ionic for text recognition.

[2021-09-12 12:33] jfoclpf commented on #27
@Cyw00d i use this plugin in cordova and it works well

[2022-06-05 18:09] tepeonde opened #46 "Not working with cordova-plugin-background-geolocation"
I try to use this plugin with the cordova-plugin-background-geolocation or @mauron85/cordova-plugin-background-geolocation. I cannot get a project build or compiled even with just only these two plugins. The error messages is:

D:\Cordova\Multitrans3\platforms\android\gradlew: Command failed with exit code 1 Error output:
D:\Cordova\Multitrans3\platforms\android\app\src\main\java\com\marianhello\b

[2022-06-09 08:03] ChrisTomAlx commented on #46
Hey @tepeonde
You can instead try this [plugin](https://github.com/NeutrinosPlatform/cordova-plugin-ml-text). It does pretty much the same.

[2022-06-09 10:16] tepeonde commented on #46
Thank you @ChrisTomAlx for the tip, but as you say "it does pretty much the same". Yes, it also throws the same error as for cordova-plugin-mobile-ocr :(

[2022-06-09 14:21] ChrisTomAlx commented on #46
Seems like it could be an [issue ](https://stackoverflow.com/questions/50732704/cannot-access-zzbfm-class-file-zzbfm-not-found-firebase-android)with mixing versions. You could try changing the version to a matching one in the framework tag within plugin.xml, for both plugins and see if that works.

[2022-06-09 16:17] tepeonde commented on #46
Hello @ChrisTomAlx, thank for that tip too. But i cannot get it build. Tried to set the versions in framework tag to the same version. I would appreciate when you help me solving this problem. I am willing to pay for for time and help.

[2022-06-17 07:54] tepeonde commented on #46
We have solved this issue with some investigation on google. The solution for us was:

•	Use cordova-android 10
•	Added background plugin with --variable GOOGLE_PLAY_SERVICES_VERSION=17+
•	Added the following line to app\build.grade in dependencies section:
implementation 'androidx.localbroadcastmanager:localbroadcastmanager:1.0.0'

Hope this will also help others.

[2022-06-17 07:54] #46 closed, assigned to nobody